@keyframes flip{
    0%{background-color: var(--fg);}
    100%{background-color: var(--bg);}
}

td{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    font-family: Ubuntu;
    background-color: var(--fg);
    padding: 0;
}

td.flipped{
    animation: flip 100ms 1 normal linear;
    background-color: var(--bg);
}